<h1><%= @list.category %></h1>

<h3>Completed: <%= @list.completed %></h3>

<h3>Tasks: </h3>

<% @list.tasks.each do |task| %>
    <p><%= check_box_tag :task %> <%= link_to task.content, task_path(task) %><br>
    (<%= link_to task.user.name, user_path(task.user) %>)</p>
<% end %>

<%= link_to "Add New Task", new_task_path %><br>
<%= link_to "Edit List", edit_list_path %><br>
<%= link_to "List Home Page", lists_path %>

<%= button_to "Delete List", list_path(@list), method: :delete %>